papers
DB
cmake-build-debug
.ipynb_checkpoints
.idea
count.sh
teste.cpp
scripts
notebooks
figs
.github
Others
Exec
build
docs/build
# wherever you told breathe_projects to look
docs/doxyoutput
# wherever you told Exhale containmentFolder is
docs/api
GUI
CLI